<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>birthday card</title>
    <link href="../static/style3.css" rel="stylesheet" type="text/css">
</head>

<body>
    <audio controls loop autoplay class="audio-style">
        <source src="../static/background-music-soft-calm-333111.mp3" type="audio/mpeg">
        Your browser doesn't support audio.
    </audio>
<link href='https://fonts.googleapis.com/css?family=Solitreo' rel='stylesheet'>
  <div class="container">
    <div class="envelope"></div>
    <div class="card">
      <h1 class="message">baar baar din ye aaye , baar baar dil❤ ye gaaye.. tum jioo hazaro saal, saal ke din ho 50 hazar  :)</h1>
      <div class="heart"></div>
    </div>
    <div class="cover"></div>
    <div class="lid"></div>
    <div class="shadow"></div>
  </div>
  
</body>
</html>