<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>birthday</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
   
    <canvas id=c></canvas>
<p>From the bottom of my heart, by <a href="https://www.linkedin.com/in/dhairya-agrawal24/">Dhairya</a></p>
<a href="/memories">
    <button class="next-page-button"><b>Next Page</b></button>
  </a>
  <audio controls loop autoplay>
    <source src="../static/songs/happy-birthday-334876.mp3" type="audio/mpeg">
    Your browser doesn't support audio.
</audio>
<script src="../static/java.js"></script>
</body>
</html>
