<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memories</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <audio controls loop autoplay>
        <source src="../static/songs/cozy-autumn-beautiful-piano-song-201836.mp3" type="audio/mpeg">
        Your browser doesn't support audio.
    </audio>
    <section class="slideshow">
        <div class="content">
           <div class="slider-content">
              <figure class="shadow"><img src="../static/photos/bhumi 2.jpg" alt="Image of Bhumi 2"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi.jpg" alt="Image of Bhumi"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi3.jpg" alt="Image of Bhumi 3"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi4.jpg" alt="Image of Bhumi 4"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi5.jpg" alt="Image of Bhumi 5"></figure>
              <figure class="shadow"><img src="..static/photos/bhumi6.jpg" alt="Image of Bhumi 6"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi8.jpg" alt="Image of Bhumi 8"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi10.jpg" alt="Image of Bhumi 10"></figure>
              <figure class="shadow"><img src="../static/photos/bhumi7.jpg" alt="Image of Bhumi 7"></figure>
              <figure class="shadow"><img src="../static/photos/vv.avif" alt="Image of VV"></figure>
           </div>
        </div>
     </section>
     <a href="/card">
        <button class="next-page-button"><b>Next Page</b></button>
      </a>
      
        
</body>
</html>